@inherits LayoutComponentBase
@using Microsoft.Extensions.Options
@using MovieReviewApp.Models
@using MovieReviewApp.Services
@inject IOptions<AppSettings> AppSettings
@inject NavigationManager Navigation
@inject SecretsManager SecretsManager

@if (IsFirstRunSetup)
{
    <div class="page-no-sidebar">
        @Body
    </div>
}
else
{
    <div class="page">
        <div class="sidebar @(AppSettings.Value.IsFamilyFriendly ? "sidebar-family" : "sidebar-general")">
            <NavMenu />
        </div>
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
}
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
<style>
    .page {
        display: flex;
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1000;
    }

    .sidebar-family {
        background-image: linear-gradient(180deg, rgb(103, 5, 5) 0%, #473a06 70%);
    }

    .sidebar-general {
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    }

    main {
        width: calc(100% - 250px);
    }

    .page-no-sidebar {
        width: 100%;
        min-height: 100vh;
    }

    @@media (max-width: 768px) {
        .page {
            flex-direction: column;
        }

        .sidebar {
            width: 100%;
            position: relative;
            height: auto;
        }

        main {
            margin-left: 0;
            width: 100%;
        }
    }
</style>

@code {
    private bool IsFirstRunSetup => Navigation.Uri.Contains("/setup", StringComparison.OrdinalIgnoreCase) || SecretsManager.IsFirstRun;
}