@page "/discussions"
@using MovieReviewApp.Components.Partials


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link @((activeTab == "list") ? "active" : "")" @onclick='() => activeTab = "list"'>Discussions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @((activeTab == "upload") ? "active" : "")" @onclick='() => activeTab = "upload"'>Audio Upload</a>
    </li>
</ul>
<br />
@if (activeTab == "list")
{
    <DiscussionsList />
}
else if (activeTab == "upload")
{
    <AudioUpload />
}

<style>
    .nav-item{
        cursor: pointer;
    }
</style>

@code {
    private string activeTab = "list"; // Default tab
}
