@page "/"
@using MovieReviewApp.Components.Partials

<PageTitle>Movie Review Site</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Current Phase</h2>
            <Phase MovieEvent="CurrentEvent" />
        </div>
        <div class="col-md-6">
            <h2>Reminder</h2>
            @{
                var timeCountString = TimeCount.HasValue && TimeCount.Value > 1 ? TimeCount.Value.ToString() : string.Empty;
                var timePeriodString = $" {TimePeriod}{(TimeCount.HasValue && TimeCount.Value > 1 ? "s" : string.Empty)}";
            }

            <p>
                Questions to answer every @timeCountString@timePeriodString.ToLower()
            </p>

            <ol>
                <li>Did I like the movie?</li>
                <li>Am I glad I watched the movie?</li>
                <li>Do I think I'd ever watch it again?</li>
                <li>Would you ever recommend this movie?</li>
                <li>What was my favorite part of the movie?</li>
                <li>What was my least favorite part of the movie?</li>
            </ol>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h2>Next Phase</h2>
            <Phase MovieEvent="NextEvent" />
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            @foreach (var item in Remaining)
            {
                <p>Then... @item.Item1 (@item.Item2)</p>
            }
        </div>
    </div>
</div>
