@page "/"
@using MovieReviewApp.Components.Partials

<PageTitle>Home</PageTitle>


<div class="row">
    <div class="col-sm-6">
        <h2>Current phase</h2>
       <Phase MovieEvent="CurrentEvent" />
    </div>
    <div class="col-md-6">
        <h2>Reminder</h2>
        <p>Questions to answer every week:</p>
        <ol>
            <li>Did I like the movie?</li>
            <li>Am I glad I watched the movie?</li>
            <li>Do I think I'd ever watch it again?</li>
        </ol>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-sm-6">
        <h2>Next phase</h2>
        <Phase MovieEvent="NextEvent" />
    </div>
</div>

