@page "/settings"
@attribute [StreamRendering]

<PageTitle>Settings</PageTitle>

<h1>Settings</h1>

<div class="container">
    <div class="row mb-3">
        <div class="col-sm-12">
            <label>Start Date:</label>
            <div class="d-flex flex-wrap align-items-center">
                <InputDate @bind-Value="StartDate" class="form-control d-inline-block w-auto me-2 mb-2" />
                <button type="button" class="btn btn-primary mb-2" @onclick="SaveDate">Save</button>
            </div>
        </div>
    </div>

    <hr />

    <div class="row mb-3">
        <div class="col-sm-12">
            <label>Occurrence:</label>
            <div class="d-flex flex-wrap align-items-center">
                <span class="me-2 mb-2">Every</span>
                <InputNumber @bind-Value="TimeCount" class="form-control d-inline-block w-auto me-2 mb-2" />
                <InputSelect @bind-Value="TimePeriod" class="form-control d-inline-block w-auto me-2 mb-2">
                    <option value="">Time Period</option>
                    @foreach (var period in TimePeriods)
                    {
                        <option value="@period.Value">@period.Value@(TimeCount > 1 ? "s" : "")</option>
                    }
                </InputSelect>
                <button type="button" class="btn btn-primary mb-2" @onclick="SaveOccurance">Save</button>
            </div>
        </div>
    </div>

    <hr />

    @if (People == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var person in People)
                    {
                        @if (person != null)
                        {
                            <tr>
                                <td>@person.Name</td>
                                <td>
                                    <button type="button" class="btn btn-secondary me-2 mb-2" @onclick="() => Edit(person)">Edit</button>
                                    <button type="button" class="btn btn-danger mb-2" @onclick="() => Delete(person)">Delete</button>
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td>
                            <input style="width:70%" type="text" @bind="@NewPerson" class="form-control mb-2" />
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary mb-2" @onclick="AddPerson">Add</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>

<style>
    .mb-2 {
        margin-bottom: 0.5rem !important;
    }
</style>